
/*服饰箱包导航start*/
.nav-box{
    width:100%;
    height: 40px;
    overflow: hidden;
    clear: both;
    border: {
        bottom:2px;
        style: solid;
        color: #ff8f19;
    }
    .top-nav{
        display:block;
        float:left;
        li{
            float: left;
            height:40px;
            font:{
                size:16px;
            }
            color:#333;
            line-height:40px;
            text-align:center;
            cursor:pointer;
            overflow:hidden;
            &.main-nav{
                padding: 0 0 0 80px;
                a{
                    color:#333;
                    font: {
                        size:16px;
                    }
                    &:hover{
                        color: #ff8f19 !important;
                    }
                }
            }
            .all-goods{
                width: 228px;
                height: 45px;
                display: block;
                background-color: #ffa242;
                color: #fff;
                font:{
                    size: 17px;
                }
                z-index: 100;
            }

        }
    }
}
/*nav end*/

//左侧菜单栏开始
.sidebar-clothing{
    width: 100%;
    height:480px;
    // overflow: hidden;
    clear:both;
    .clothing-menu{
        width: 228px;
        height:480px;
        background-color: #ffb142;
        float: left;
        font-family: Microsoft YaHei;
        .clothing-ul {
            width: 228px;
            margin-top: -1px;
            .clothing-list {
                position: relative;
                cursor: pointer;
                &:hover {
                    background-color: #ff8f19;
                    border: {
                        left: 1px;
                        style: solid;
                        color: #ffb142;
                    }
                    &:last-child {
                        border-bottom: 1px solid #ffb142;
                    }
                    .clothing-menu-list {
                        .nav-icon {
                            background-color: #fff;
                        }


                    }
                    .same-pw{
                        display: block;
                    }

                }
                .clothing-menu-list {
                    width: 202px;
                    margin: 0 auto;
                    position: relative;
                    border: {
                        bottom: 1px;
                        style: solid;
                        color: #ffc96f;
                    }
                    padding: {
                        top: 6px;
                    }
                    color: #fff;
                    h2 {
                        color: #fff;
                        font: {
                            size: 16px;
                        }
                        .nav-icon {
                            height: 15px;
                            width: 15px;
                            display: inline-block;
                            background-color: #fff;
                        }
                    }
                    .nav-clothing {
                        line-height: 20px;
                        padding: 8px 22px 8px 16px;
                        color: #fff;
                        a {
                            color: #fff;
                            font-size: 12px;
                            padding-right: 5px;
                    
                        }
                    }
                    .arrow {
                        position: absolute;
                        z-index: 1;
                        top: 45px;
                        right: 8px;
                        width: 5px;
                        height: 8px;
                        font: 400 9px/14px consolas;
                        color: #fff;
                        cursor: pointer;
                    }

                }
                .menu-last {
                    border-bottom: 0 none;
                }

            }
        }
    }
}
//左侧菜单栏结束