
.header-ls {
    width: 100%;
    height:80px;
    margin: {
        top:17px;
        bottom:30px;
    }
    .header-lg {
        z-index: 12;
        float: left;
        width: 290px;
        height: 62px;
        line-height: 62px;
        float: left;
        .logo {
            display: inline-block;
            width: 185px;
            height: 44px;
            background-image: url('/images/head/logo.png');
            background-repeat:no-repeat;
            text-indent: -2000px;
            padding-left: 12px;
        }
        .clothing-logo{
            text-align: center;
            color: #333;
            font:{
                size: 16px;
                family:"Microsoft YaHei";
            }
            cursor: pointer;
        }
    }

}

/*家用电器导航start*/
.nav-box{
    width:100%;
    height: 40px;
    overflow: hidden;
    clear: both;
    border: {
        bottom:2px;
        style: solid;
        color: #fe437a;
    }
    .top-nav{
        display:block;
        float:left;
        li{
            float: left;
            height:40px;
            font:{
                size:16px;
            }
            color:#333;
            line-height:40px;
            cursor:pointer;
            overflow:hidden;
            &.all-goods{
                width: 213px;
                height: 45px;
                display: block;
                background-color: #d72640;
                text-align: left;
                padding-left: 15px;
                a{
                    color: #fff;
                    font:{
                        size: 17px;
                    }

                }
                z-index: 100;
            }
            &.main-nav{
                padding: 0 0 0 80px;
                a{
                    color:#333;
                    font: {
                        size:16px;
                    }
                    &:hover{
                        color:#ff729c !important;
                    }
                }
            }
        }
    }
}
/*nav end*/

//左侧菜单栏开始
.sidebar-household{
    width: 100%;
    height:480px;
    // overflow: hidden;
    clear:both;
    .household-menu{
        width: 228px;
        height:480px;
        background-color: #f8546d;
        float: left;
        font-family: Microsoft YaHei;
        margin-top: -1px;
        .household-ul {
            position: relative;
            width: 228px;
            margin-top: -1px;
            .household-list {
                position: relative;
                cursor: pointer;
                &:hover {
                    background-color: #ca142d;
                    border: {
                        left: 1px;
                        style: solid;
                        color: #f8546d;
                    }
                    &:last-child {
                        border-bottom: 1px solid #fa98a7;
                    }
                    .household-menu-list {

                        border-bottom:0;
                        .nav-icon {
                            background-color: #fff;
                        }
                    }
                    .household-same-pw{
                        display: block;
                    }
                }
                .household-menu-list {
                    width: 202px;
                    margin: 0 auto;
                    position: relative;
                    border: {
                        bottom: 1px;
                        style: solid;
                        color: #fa98a7;
                    }
                    padding: {
                        top: 6px;
                    }
                    color: #fff;
                    h2 {
                        color: #fff;
                        font: {
                            size: 16px;
                        }
                        .nav-icon {
                            height: 15px;
                            width: 15px;
                            display: inline-block;
                            background-color: #fff;
                        }
                    }
                    .nav-household {
                        line-height: 18px;
                        padding: 8px 22px 8px 16px;
                        color: #fff;
                        a {
                            color: #fff;
                            font-size: 12px;
                            padding-right: 4px;

                            &.electricity{
                                padding-right: 15px;
                            }

                            &.kitchen-machine{
                                padding-right:12px;
                            }
                        }
                    }
                    .arrow {
                        position: absolute;
                        z-index: 1;
                        top: 45px;
                        right: 8px;
                        width: 5px;
                        height: 8px;
                        font: 400 9px/14px consolas;
                        color: #fff;
                        cursor: pointer;
                    }

                }
                .menu-last {
                    border-bottom: 0 none;
                }

                //家用电器弹窗样式开始
                .household-same-pw{
                    width: 620px;
                    height: 270px;
                    background-color: #fff;
                    position: absolute;
                    left: 227px;
                    top: 0;
                    border:{
                        top:2px;
                        right: 2px;
                        bottom: 2px;
                        style: solid;
                        color: #df7285;
                    }
                    z-index: 100;
                   display: none;
                    .household-mt{
                        padding:{
                            top:20px;
                            right: 10px;
                            bottom: 15px;
                            left:20px;
                        }

                        .household-auto-all{
                            width: 360px;
                            overflow: hidden;
                            float: left;
                            .household-left{
                                width: 100%;
                                overflow: hidden;
                                .household-ele{
                                    float: left;
                                    width: 73px;
                                    text-align: right;
                                    margin-right: 10px;
                                    font-weight: bold;
                                    a {
                                        padding-left: 5px;
                                    }
                                }
                                
                                .household-left-text{
                                    float: left;
                                    padding-bottom: 10px;
                                    .household-word{
                                        .household-bd{
                                            display: inline-block;
                                            padding-left: 12px;
                                            border: {
                                                left: 1px;
                                                style: solid;
                                                color: #e3e3e3;
                                            }
                                            margin: {
                                                right: 10px;
                                                bottom: 10px;
                                            }
                                            font-size: 12px;
                                        }
                                        .household-border-no{
                                            border-left:0;
                                        }
                                    }
                                }

                            }
                        }
                        .household-right{
                            float: right;
                            border-left:1px solid #e0e0e0;
                            padding-left: 15px;
                            p{
                                padding-bottom:5px;
                                &:last-child{
                                    padding-bottom: 0;
                                }

                                a{
                                    &:last-child{
                                        padding-left: 5px;
                                    }
                                }
                            }

                        }

                    }
                }
                //家用电器弹窗样式结束
            }
        }
    }
}
//左侧菜单栏结束

//中间banner开始
.main-banner{
    width: 670px;
    height: 479px;
    float: left;
    position: relative;
    .banner-pic{
        position: relative;
        li{
            position: absolute;
            height: 480px;
            &:first-child{
                z-index: 11;
            }
            &:nth-child(2){
                z-index:10;
            }
            &:nth-child(3){
                z-index:1;
            }
        }
    }
    .banner-circle{
        position:absolute;
        left: 50%;
        bottom: 20px;
        margin-left:-56px;
        z-index: 60;
        li{
            width: 10px;
            height: 10px;
            background-color: rgba(0,0,0,0.3);
            float: left;
            border-radius:50%;
            cursor:pointer;
            margin: 0 8px;
            &.current{
                background-color:rgba(0,0,0,0.1);
            }
        }
    }

}
//中间banner结束

/*右侧图片开始*/
.main-right{
    float: right;
    width: 202px;
    height: 480px;
    .right-word{
        clear: both;
        height: 160px;
    }
}
/*右侧图片结束*/




























