$headline-ff: Braggadocio, Arial, Verdana, Helvetica, sans-serif,Microsoft YaHei;
$main-sec-ff: Microsoft YaHei,Arial, Verdana, Helvetica, sans-serif;
$wrap-width:1100px;
$header-top-color:#575757;
$width:220px;
$height:430px;
$white:#fff;

