@import "../layout/mobile_sidebar","../layout/variables", "../layout/mixin";

//今日热门部分样式开始
.today-popular{
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 66px;
  .today-title{
    @include mobile-title;
  }
  .popular-tab{
    width: 100%;
    height: 39px;
    border-top: 1px solid #1e856a;
    background-color: #f1f3f2;
    overflow: hidden;
    .popular-tab-title{
      float: left;
      width: 275px;
      text-align: center;
      line-height: 39px;
      font:{
        size: 18px;
        family: $main-sec-ff;
      }
      cursor: pointer;
      &.popular-tab-current{
        background-color: #43b999;
        a{
          color: #fff;
        }
      }
      a{
        color: #43B999;
      }
    }
  }
  
  .popular-detail{
    height: 295px;
    overflow: hidden;
    border: {
      left: 1px;
      bottom: 1px;
      right: 1px;
      style: solid;
      color: #ededed;
    }
    li{
      float: left;
      width: 218px;
      height: 295px;
      cursor: pointer;
      &.popular-detail-list{
        border-left:1px solid #ededed;
      }
      &:hover{
        .now-buy{
          display: block;
        }
      }
      .popular-detail-pic{
        display: block;
        margin: 30px auto 10px;
        width: 170px;
        height: 135px;

      }
      .popular-detail-text{
        width: 206px;
        margin: 0 auto;
        line-height: 20px;
        color: #666;
        span{
          display: block;

          &.money-red{
            padding: 15px 0 7px;
            color: red;
            font:{
              size: 16px;
              weight: bold;
              family: $main-sec-ff;
            }
          }
        }
      }
      .now-buy{
        width: 218px;
        height: 40px;
        background-color: #e6233f;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        display: none;
        a{
          color: #fff;
          font:{
            size: 14px;
            family: $main-sec-ff;
          }
        }
      }
    }
  }
}
//今日热门部分样式结束

//主题购部分样式开始
.theme-purchase{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 60px;

  .theme-title{
    @include mobile-title;
  }

  .mobile-theme{
    width: 100%;
    height: 369px;
    border-top:1px solid #208468;
    li{
      float: left;
      a{
        display: block;

        &.theme-pic01{
          width: 220px;
        }
        &.theme-pic02{
          height: 183px;
          width: 330px;
        }
      }
    }
  }
}
//主题购部分样式结束

//品牌旗舰店部分样式开始
.mobile-brand-store {
  width: 100%;
  height: 365px;
  overflow: hidden;
  margin-top: 50px;
  background-color: #fcf;

  .store-title {
    @include mobile-title;
  }
}
//品牌旗舰店部分样式结束

















































//service
.service{
  background-color: #fafafa;
  border-top:1px solid #e6e6e6;
  margin-top: 40px;
}














