@import "../layout/sports_sidebar","../layout/variables", "../layout/mixin";

//精选品牌样式开始
.sports-brand{
  @include same-box;
  margin-top: 70px;
  .brand-selection{
    @include same-box;
    margin-bottom: 5px;
    .sport-title{
      @include sport-title;
    }
    .title-red{
      @include title-red;
    }
  }

  .sport-selection-pic{
    @include same-box;
    border-top: 1px solid #1e8bc4;
    li{
      float: left;
      .sport-list{
        display: inline-block;
        width: 182px;
        height: 345px;
        border-right:1px solid #ededed;
      }
      .sport-last{
        border-right:0;
      }
    }
  }

  .sport-brand-name{
    @include same-box;
    border-top: 1px solid #ededed;
    li{
      float: left;
      line-height: 54px;
      a{
        display: block;
        padding: {
          top: 15px;
          right: 18px;
          left: 35px;
          bottom: 10px;
        }
        &:hover{
          opacity: 0.8;
        }
      }
    }
  }
}
//精选品牌样式结束

//独家新品部分样式开始
.exclusive-products{
  @include same-box;
  margin-top: 30px;
  .new-products{
    @include same-box;
    margin-bottom: 5px;
    .exclusive-title{
      @include sport-title;
    }
    .title-red{
      @include title-red;
    }
  }
  .exclusive-products-show{
    @include same-box;
    height: 430px;
    .exclusive-products-left{
      float: left;
      li{
        font-size: 0;
        overflow: hidden;
        .products-pic-bottom{
          float: left;
          border: {
            bottom: 1px;
            style: solid;
            color: #ededed;
          }
          height: 262px;
          .new-products-pic02{
            width: 183px;
            height: 262px;
            border: {
              right: 1px;
              style: solid;
              color: #ededed;
            }
            background-color: #fff;
            overflow: hidden;
            @at-root .nd-item-img{
              display: block;
              width: 178px;
              height: 259px;
              overflow: hidden;
            }
            img{
              width: 178px;
            }
          }
          .border-no{
            border-right:0;
          }
        }
        a{
          display: inline-block;
          height: 263px;
          overflow: hidden;
          &.new-products-pic01{
            width: 365px;
            float: left;
          }
          &.fish-umbrella{
            width: 182px;
            height: 172px;
            border: {
              top: 0;
              left: 0;
              bottom: 0;
              right: 1px;
              style: solid;
              color: #ededed;
            }
            background-color: #fff;
            text-align: center;
            &.border-no{
              border-right: 0;
            }
            img{
              width: 181px;
              height: 167px;
              display: block;
              overflow: hidden;
            }
          }
        }
      }
    }
    .exclusive-products-right{
      float: right;
      a{
        display: block;
        width: 184px;
      }
    }
  }
}
//独家新品部分样式结束

//运动鞋包服饰部分样式开始
.sport-shoes{
  @include same-box;
  margin-top: 30px;
  .shoes-bags{
    @include same-box;
    margin-bottom: 5px;
    .shoes-title{
      @include sport-title;
    }
    .title-red{
      @include title-red;
    }
  }
  
  .shoes-bags-show{
    @include same-box;
    .shoes-bags-top{
      border-top: 1px solid #1e8bc4;
      font-size: 0;
      overflow: hidden;
      li{
        float: left;
        height: 413px;
        font-size: 0;
        overflow: hidden;
        a{
          display: block;
          overflow: hidden;
          &.nd-shoes{
          width: 332px;
          height: 413px;
        }
          &.nd-sports{
            width: 187px;
          }
          &.shoes-bags-one{
            width: 202px;
            height: 206px;
            margin: 0 auto;
            border: {
              bottom: 1px;
              style: solid;
              color: #ededed;
            }
          }
          &.shoes-bags-pic{
            width: 193px;
            height: 206px;
            border: {
              bottom: 1px;
              style: solid;
              color: #ededed;
            }
          }
        }

      }
    }
    .shoes-bags-bottom{
      width: 100%;
      height: 205px;
      border-top: 1px solid #ededed;
      font-size: 0;
      overflow: hidden;
      a{
        display: inline-block;
        height: 205px;
        &.shoes-bags-img01{
          width: 331px;
        }
        &.shoes-bags-img02{
          width: 186px;
          border-right: 1px solid #ededed;
        }
        &.shoes-bags-img03{
          width: 202px;
        }
        &.shoes-bags-img04{
          width: 379px;
        }
      }

    }
    .shoes-apparel-bottom{
      width: 100%;
      border-top: 1px solid #ededed;
      height: 205px;
      font-size: 0;
      overflow: hidden;
      a{
        display: inline-block;
        height: 205px;
        &.shoes-apparel-img01{
          width: 331px;
        }
        &.shoes-apparel-img02{
          width: 186px;
          border: {
            left: 1px;
            style: solid;
            color: #ededed;
          }
        }
        &.shoes-apparel-img03{
          width: 202px;
          border: {
            left: 1px;
            right: 1px;
            style: solid;
            color: #ededed;
          }
        }
        &.shoes-apparel-img04{
          width: 378px;
        }
      }
    }
  }
}
//运动鞋包服饰部分样式结束

//户外装备部分样式开始
.outdoor-equipment{
  @include same-box;
  margin-top: 30px;
  .sport-outdoor{
    @include same-box;
    margin-bottom: 5px;
    .outdoor-title{
      @include sport-title;
    }
    .title-red{
      @include title-red;
    }
  }
  .outdoor-show{
    @include same-box;
    border-top: 1px solid #1e8bc4;
    li{
      float: left;
      font-size: 0;
      &.outdoor-show-first{
        width: 332px;
        a{
          width: 332px;
          display: block;
          overflow: hidden;
          &.outdoor-pic01{
            height: 413px;
          }
          &.outdoor-pic02{
            height: 205px;
          }
        }
      }
      &.outdoor-show-second{
        width: 576px;
        .outdoor-equipment-top{
          height: 206px;
          .outdoor-pic03{
            display: block;
            width: 576px;
            height: 206px;
            overflow: hidden;
          }
        }
        .outdoor-equipment-center{
          overflow: hidden;
          .equipment-center-under{
            float: left;
            a{
              display: block;
              overflow: hidden;
              &.outdoor-pic04{
                width: 186px;
                height: 206px;
                border: {
                  right: 1px;
                  style: solid;
                  color: #ededed;
                }
              }
              &.outdoor-under-pic{
                border-top:1px solid #ededed;
              }
              &.outdoor-pic05{
                width: 202px;
                height: 412px;
              }
            }
          }
        }
      }
      &.outdoor-show-third{
        width: 192px;
        a{
          display: block;
          width: 192px;
          &.outdoor-pic06{
            height: 206px;
          }
          &.outdoor-pic07{
            height: 412px;
          }
        }
      }
    }
  }
}
//户外装备部分样式结束

//健身训练部分样式开始
.fitness-training{
  @include same-box;
  margin-top: 30px;
  .sport-training{
    @include same-box;
    margin-bottom: 5px;
    .training-title{
      @include sport-title;
    }
    .title-red{
      @include title-red;
    }
  }
  .fitness-training-show{
    @include same-box;
    border-top: 1px solid #1e8bc4;
    li{
      float: left;
      font-size: 0;
      &.training-show-first{
        width: 332px;
        a{
          display: block;
          width: 332px;
          overflow: hidden;
          &.fitness-img01{
            height: 413px;
          }
          &.fitness-img02{
            height: 205px;
          }
        }
      }
      &.training-show-second{
        width: 389px;
        overflow: hidden;
        .training-second-top{
          width: 100%;
          height: 413px;
          overflow: hidden;
          p{
            float: left;
            &.training-second-pic01{
              width: 187px;
              a{
                display: block;
                overflow: hidden;
                &.second-img01{
                  width: 187px;
                  height: 413px;
                }
                &.second-img02{
                  width: 202px;
                  height: 206px;
                  border-bottom:1px solid #ededed;
                }
              }

            }

          }
        }
        .training-second-bottom{
          height: 205px;
          .second-img03{
            display: block;
            width: 389px;
            height: 205px;
            overflow: hidden;
          }
        }
      }

      &.training-show-third{
        width: 379px;
        .third-pic01{
          font-size:0;
          overflow: hidden;
          a{
            display: inline-block;
            &.third-img01{
              width: 185px;
              height: 206px;
              border:{
                left: 1px;
                style: solid;
                color: #ededed;
              }
            }
            &.third-img02{
              width: 192px;
              height: 206px;
              border:{
                left: 1px;
                style: solid;
                color: #ededed;
              }
            }
            &.top-border{
              border-top: 1px solid #ededed;
            }
            &.third-img03{
              width: 379px;
            }
            &.third-img04{
              width: 184px;
              height: 201px;
              border:{
                left: 1px;
                style: solid;
                color: #ededed;
              }
            }
          }
        }
      }
    }
  }
}
//健身训练部分样式结束

//service
.service{
  background-color: #fafafa;
  border-top:1px solid #e6e6e6;
  margin-top: 70px;
}














