@import "../layout/food_sidebar","../layout/variables", "../layout/mixin";

#content{
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
}


//有品大牌部分样式开始
.big-products{
  @include same-box;
  margin-top: 60px;
  @include food-title;
  .big-products-list{
    @include same-box;
    .big-photo{
      width: 600px;
      float: left;
    }
    .big-products-brand{
      float: right;
      width: 500px;
      ul{
        overflow: hidden;
        li{
          width: 166px;
          height: 99px;
          float: left;
          &:nth-child(even){
            background-color: #dddddd;
          }
          &:nth-child(odd){
            background-color: #ededed;
          }
          overflow: hidden;
          cursor: pointer;
          &:hover{
            background-color: #ef6548;
            .same-products-style{
              $white:#fff;
              span{
                color: $white;
                &.dove-res{
                  .arrow{
                    color: $white ;
                  }
                }

              }
            }
          }
          .dove-pic{
            float: left;
            width: 71px;
            height: 71px;
            margin: {
              top:20px;
              left: 10px;
              right: 5px;
            }
          }
          .same-products-style{
            float: left;
            padding-top: 32px;
            width: 70px;
            span{
              display: block;
              color: #666666;
              &.dove-title{
                font:{
                  size: 14px;
                  family: $main-sec-ff;
                }

              }
              &.dove-res{
                word-wrap: break-word;
                word-break: normal;
                line-height: 18px;
                font-size: 12px;
                .arrow{
                  color: #666;
                  cursor: pointer;
                  padding-left: 3px;
                }
              }
            }
          }
        }
      }
    }
  }

}
//有品大牌部分样式结束

//全球美食部分样式开始
.global-cuisine{
  @include same-box;
  .cuisine-title{
    @include global-title;
    margin:{
      top: 35px;
    }
  }
  .global-food{
    @include same-box;
    .global-food-first{
      width: 288px;
      height: 336px;
      float: left;
      position: relative;
      .food-btn{
        position: absolute;
        top: 0;
        left: 0;
        margin: 20px 27px;
        a{
          display: inline-block;
          padding: 6px 12px;
          border: 2px solid #fff;
          border-radius: 5px;
          color: #fff;
          font-family:$main-sec-ff;
          &.smell-food:hover{
            background-color: #fff;
            color: #ee7a00;
          }
          &.rice-cereals:hover{
            background-color: #fff;
            color: #d2d668;
          }
          &.chinese-wines:hover{
            background-color: #fff;
            color: #fd565e;
          }
          &.personal-care:hover{
            background-color: #fff;
            color: #5f7ddf;
          }
          &.cleaning-supplies:hover{
            background-color: #fff;
            color: #ac955f;
          }
          &.kitchen-supplies:hover{
            background-color: #fff;
            color: #a65915;
          }
          &.baby-products:hover{
            background-color: #fff;
            color: #e077ba;
          }
        }


      }
    }
    .global-food-center{
      width: 608px;
      height: 336px;
      background-color: #fff;
      float: left;
      .cuisine-show{
        width: 100%;
        li{
          float: left;
          width: 202px;
          height: 168px;
          position: relative;
          border: {
            right: 1px;
            bottom: 1px;
            style: solid;
            color: #ededed;
          }
          overflow: hidden;
          &:hover{
            .add-shopping{
              display: block;
            }
          }
          &.global-border-no{
            border-right:0;
          }
          &.no-bd{
            border-bottom: 0;
          }
          .global-cuisine-photo{
            width: 100px;
            height: 100px;
            margin: 0 auto;
            display: block;
            padding-top: 8px;
            &:hover .item-img{
              transform: translateY(-5px);
            }
            .item-img{
              transition: transform 0.5s ease 0s;
              transform: translateY(0);
            }
          }
          .global-cuisine-text{
            display: inline-block;
            width: 186px;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
            line-height: 26px;
            font: {
              size: 12px;
              family: "SimSun";
            }
            padding-left: 10px;
            margin-top: 10px;
          }
          .cuisine-money{
            display: block;
            color: #e21414;
            font:{
              size: 14px;
              family: $main-sec-ff;
              weight: bold;
            }
            padding-left: 8px;
          }
        }
        .add-shopping{
          position: absolute;
          left: 0;
          bottom:0;
          width: 202px;
          height: 50px;
          background-color: #3ac1f9;
          text-align: center;
          line-height: 50px;
          display: none;
          .shopping01{
            width: 22px;
            height: 22px;
            fill:#fff;
            vertical-align: -4px;
          }
          .shopping-text{
            color: #fff;
            font:{
              size: 18px;
              family: $main-sec-ff;
            }
          }
        }
      }
    }
    .good-time{
      width: 203px;
      height: 336px;
      float: right;
    }
  }
}
//全球美食部分样式结束


//坚果零食部分样式开始
.nuts-snacks{
  @include same-box;
  margin-top: 30px;
  .snacks-title{
    @include global-title;
    margin: {
      bottom:5px;
    }
  }
  .snacks-picture{
    @include same-box;
    .snacks-picture-list{
      overflow: hidden;
      li{
        float: left;
        a{
          display: block;
          &.squirrels-pic{
            width: 548px;
            height: 399px;
          }
          &.squirrels-pic01{
            width: 274px;
            height: 399px;
            &:last-child{
              border-left: 1px solid #ededed;
            }
          }
        }

      }
    }
    .snacks-center{
      width: 100%;
      overflow: hidden;
      .snacks-center-different{
        height: 305px;
        float: left;
        border-bottom:1px solid #ededed;
        a{
          display: block;
          &.different-first{
            width: 274px;
            height: 152px;
            &:last-child{
              border-top: 1px solid #ededed;
            }
          }
          &.different-second{
            width: 273px;
            height: 305px;
            border-left:1px solid #ededed;
          }
          &.different-third{
            width: 274px;
            border-left:1px solid #ededed;
          }
        }
      }
    }

    .snacks-under{
      width: 100%;
      height: 136px;
      background-color: #fff;
      overflow: hidden;
      position: relative;
      .snacks-show-list{
        width: 274px;
        border-right:1px solid #ededed;
        height: 136px;
        float: left;
        overflow: hidden;
        .snacks-pic{
          display: block;
          height: 80px;
          float: left;
          margin: {
            top: 35px;
            left: 58px;
            bottom: 10px;
            right: 30px;
          }
        }
        .snacks-pic02{
          display: block;
          height: 80px;
          float: left;
          margin: {
            top: 35px;
            left: 30px;
            bottom: 10px;
            right: 30px;
          }
        }
        .snacks-text{
          float: left;
          width: 120px;
          font:{
            size: 12px;
            family: "SimSun";
          }
          word-wrap: break-word;
          word-break: normal;
          margin-top: 30px;
          cursor: pointer;
          .text-title{
            color: #666;
          }
          .snacks-price{
            color: #999;
            line-height: 30px;
            .price-red{
              color: #ff1a17;
              text-decoration: underline;
            }
          }
          .snacks-comment{
            color: #76c2e2;
            line-height: 30px;
          }
        }
      }
      .snacks-last{
        border-right: 0;
      }
    }
  }
}
//坚果零食部分样式结束






















//service
.service{
  background-color: #fafafa;
  border-top:1px solid #e6e6e6;
  margin-bottom: 0;
}


.service-center{
  padding-top: 30px;
}











