@import "../layout/_variables", "../layout/_mixin";
i{
  font-family:'myfont';
}
#content{
    .shop-summary{
           height:30px;
           background:#fbfbfb;
           line-height: 30px;
      .shop-name{
          float: right;
          width: 228px;
          text-align: right;
        .shop-gold{
          font-size: 14px;
          font-family:$headline-ff;
          font-weight: bold;
          padding-right: 14px;
        }
        .shop-gat{
          color: white;
          text-align: center;
          border-radius: 5px;
          width:70px;
          height: 20px;
          line-height: 20px;
          display:inline-block;
          background: #f25b50;
        }

      }
    }
  /*店铺名称样式*/
  .hd-1{
    width: 100%;
    height: 83px;
    margin-top: 30px;
    margin-bottom: 14px;
    .shop-logo{
      display:block;
      width: 216px;
      height: 57px;
      background-image:url('/images/shop/market/title.png');
      background-repeat:no-repeat;
      padding-left: 45px;
      float: left;
     }
    .shop-code{
      display:block;
      width: 81px;
      height: 82px;
      background-image: url("/images/shop/market/erweima.png");
      background-repeat:no-repeat;
      float: right;
    }
    }
  /*导航*/
  .nav-shop{
     width: 100%;
     height: 40px;
    background:#fbfbfb;
    line-height: 40px;
    overflow: hidden;
    clear: both;
    ul{
      width:1020px;
      display:block;
      margin-left: 90px;
     li{
        float: left;
        height:40px;
        font:{
          family:$main-sec-ff;
          size:16px;
        }
        color:#333;
        cursor:pointer;
        overflow:hidden;
        &.nav-main{
          padding: 0 78px 0 0;


        }

        }
    }
  }
  /*店铺导航*/
  .nav-shops{
    @extend .nav-shop;
    width:1100px;
    margin: 0px auto;
  }
  .main-content{
    width: 100%;
    height:auto;
    $border: 1px solid #dfdfdf;
    .all{
      width:181px;
      height: 29px;
      line-height: 29px;
      margin:10px 8px;
    }
           .left-side{
             width: 200px;
             margin-top: 40px;
             float: left;
             .left-side-top{

               border:$border;
               height: 116px;
               .left-search{
               width:181px;
               height: 29px;
                 border: $border;
                 margin:10px 8px;
               }
               button{
                 position: relative;
                  text-align: left;
                  @extend .all;
                  margin:0 0 0 8px;
                 font-family:$main-sec-ff;
                 font-size: 14px;
                 background: #40bbff;
                 color: $white;
                 border: 0px;
                 border-radius: 5px;
                 cursor: pointer;
                  /*搜索*/
                 .mf-search{
                   display: block;
                   float: left;
                   font-size: 18px;
                   width: 20px;
                   height: 20px;
                   font-family: 'myfont';
                   color: $white;
                   padding: 0 9px 0 59px;
                  }
               }
               .left-search-hot{
                 @extend .left-search;
                 border: 0px;
                 color: #a4a4a4;
                 family:$main-sec-ff;
                 span{
                    font-size: 14px;
                   font-weight: bold;
                 }
                 a{
                    color: #a4a4a4;
                    padding-left: 5px;

                 }
               }

             }

             .left-side-bottom{
               @extend .left-side-top;
               height: auto;
               margin-top: 8px;
               padding:0 0 15px 8px;
               .c-title{
                 color: #656565;
                 height:32px;
                 line-height: 32px;
                 padding-left: 11px;
                 border-bottom: 2px solid #33b7f8;

               }
               .store-duty{
                  li{
                    width:181px;
                    margin-top:10px;

                    a{
                      padding-left: 39px;
                      color: #6d6d6d;
                      font-size:12px;
                      font-family:$main-sec-ff;
                      display: block;
                      height:30px;
                      line-height: 30px;
                      position: relative;
                    }
                    .inactive{
                      background:url(/images/off.png) no-repeat #f6f6f6 14px center;
                    }
                    .store-inactive{
                      background:url(/images/on.png) no-repeat #f6f6f6 14px center;
                    }
                    ul{
                      display: none;
                      li {
                        border-bottom:1px dashed #c4c4c4;
                        a{
                          padding-left:10px;
                          color:#696969;
                          display:list-item;
                          list-style-type:square;
                          margin-left:2.5em;


                       }
                      }
                    }
                  }
               }

             }


           }
/*right*/
    .right-side{
          width: 892px;
          border:$border;
          float: right;
          margin-top: 40px;

      .right-title{
        height: 42px;
        line-height: 42px;
        border-bottom: 1px solid #dfdfdf;
         span{
           height: 42px;
           font-size: 14px;
           text-align: center;
           color: #565454;
           border-bottom: 2px solid #76afcc;
           clear: none;
           padding: 7px 6px 13px 6px;
           margin-left: 7px;
          }
        .right-option{
          float: right;
          margin-right: 18px;
          a{
            color: black;
            background: #efeded;
            padding: 7px 6px;
              &.current{
              background:#ea3430;
              color:$white;
            }

           &:active{
              @extend .current;
           }
          }
        }
      }

      .right-commodity{
           .shop-baby{
               width: 226px;
               height: 230px;
               float: left;
               margin: 40px 40px 20px 30px;
             .pro-pic{
                width: 141px;
                margin: 0px auto;
             }
            .right-shop{
              font-family:$main-sec-ff;
              width: 216px;
              text-align: left;
              margin: 0 auto;
              line-height: 20px;
              .r_title{

                    color: #000000;
                    line-height: 22px;
                    font-size: 12px;

              }
              .r-money{
                font-size: 12px;
                margin-top: 10px;
                .price{
                     color: #d01624;
                  font-weight: bold;
                     text-align: left;
                }
                .evaluate{
                     color: #484848;
                     padding-left: 80px;
                }

              }
              .r-cart{
                margin-top: 10px;
                text-align: center;
                  a{
                   border:$border;
                   color: #d5d5d5;
                   padding: 5px 7px;
                    &.pay-attention{ margin-left: 17px;}
                }
              }
            }
          }
      }

      .menu{
        color: #e8e8e8;
        font-size: 80%;
        text-align: center;
        width: 420px;
        padding: 3px;
        margin:20px 0 20px 410px;

          .listnum{
            border: 1px solid #e8e8e8;
            padding: 9px 11px;
            background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#fdfdfd), to(#e9e9e9));
            margin: 0 3px 0 0;
            &:active{
              background:#1dbdf7;
               color: $white;
             }

          }
        .present{
          border: 1px solid #e8e8e8;
          padding: 9px 11px;
          background-color:#1dbdf7;
          margin: 0 3px 0 0;
          color: $white;
        }

        .listnum2{
          border: 1px solid #e8e8e8;
          padding: 9px 14px;
          background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#fdfdfd), to(#e9e9e9));
          margin: 0 3px 0 0;
          position: relative;

           .nextbuttons {
             width: 8px;
            position: absolute;
             top:9px;
             right:-6px;
            margin: 0;
            padding: 0;
            border-bottom: transparent solid 5px;
            border-top: transparent solid 5px;
            border-left: #626262 solid 8px;
            border-right: transparent solid 8px;
            display: block;
             &:hover{
                @extend .nextbuttons;
                border-left: #1dbdf7 solid 8px;
             }

            }

          &:active{
            background:#1dbdf7;
            color: $white;
            .nextbuttons {
              @extend .nextbuttons;
              border-left: $white solid 8px;
            }
          }


        }
        .listnum3{
          @extend .listnum;
          padding: 6px 11px;
          margin-left: 10px;
        }
        .jump{
          color:black;
          margin-left: 30px;
        }
        input{
           width: 30px;
           height: 20px;
          border: 1px solid #e8e8e8;
        }


      }

    }

  }

  }
  