@import "../layout/variables";
#order-sidebar{
  font-family:'Microsoft YaHei';
  float:left;
  .menu{
    margin:0 0 30px;
    h3{
      font-size:16px;
      color:#363636;
    }
    .submenu{
      a{
        display:block;
        margin:12px 0;
        font-size:14px;
      }
    }
  }
}
.me{
   width: 520px;
   float: right;

}