@import "../layout/variables";
/*order status*/
.logistics-details {
  .bread-path {
    line-height: 24px;
    margin: 0 0 10px 0;
    color: #828282;
    a {
      margin: 0 10px;
      &:nth-of-type(3) {
        color: black;
      }
    }
  }
}
.order-status{
  overflow: hidden;
  .order-bar{
    height: 45px;
    background: #f5f5f5;
    ul{
      li{
        width: 30%;
        height: 45px;
        margin-top: 1px;
        display: inline-block;
        float: left;
        text-align: center;
        background:url(/images/orders/detail-right.png) 100% 1px no-repeat;
        font:{
          size: 14px;
        }
        cursor: pointer;
        color: #808080;
          .order-bar-current{
            position: relative;
            color: $white;
            width: 180px;
            height: 49px;
            line-height: 49px;
            background: url(/images/orders/order-bg.png) 0  no-repeat;
            display: inline-block;
           &::after{
              content:"";
              border:{
               bottom: #33b6ff solid 17px;
               left: transparent solid 12px;
               right: transparent solid 12px;
             }
              position:absolute;
              z-index:2;
              top:48px;
              left:75px;
              overflow: hidden;
            }
          }
        span{
          height: 45px;
          line-height: 45px;
          display: block;
        }
      }
    }
  }
  .state-text{
    width: 100%;
    height: 218px;
    overflow: hidden;
  }
  .state-frame{
    padding: 25px 20px 25px 30px;
    background: $white;
    border: 1px solid #23beff;
    margin-top: 20px;
    h3{
      margin-bottom: 24px;
    }
    .status-text{
      li{
        line-height: 24px;
        a{
          color: #f05d66;
        }
      }
    }
  }
}
.detail-all{
  /*logistics information*/
  .logistics-inform{
    margin: 30px 0;
    height: 410px;
    .log-title{
      h3{
        width: 130px;
        height: 30px;
        line-height: 30px;
        background: #f58d0f;
        border-radius: 5px 5px 0 0;
        text-align: center;
        color: $white;
        margin-left: 20px;
      }
      border-bottom: 1px solid #ddd;
    }
    .cargo-inform{
      margin: 20px 0 0 20px;
      line-height: 25px;
      color: #333;
       .log-track{
         .log-track-fir{
            float: left;
            width: 60px;
        }
         ul{
            float: left;
         }
      }
    }
  }
  /*Order information*/
  .order-information {
    .ord-title{
      h3{
        width: 130px;
        height: 30px;
        line-height: 30px;
        background: #f58d0f;
        border-radius: 5px 5px 0 0;
        text-align: center;
        color: $white;
        margin-left: 20px;
        float: left;
        font-size: 16px;
      }
      span{
        float: right;
        color: #77c9ff;
        padding-right: 20px;
      }
      height: 30px;
      border-bottom: 1px solid #ddd;
    }
    .ord-content{
      position: relative;
      display: block;
      border-bottom: 1px solid #e6e6e6;
      height: 145px;
      .ord-address{
        width: 738px;
        padding:20px 0 20px 20px;
        border-right: 1px solid #e6e6e6;
        float: left;
        dl{
          line-height: 35px;
          dt{
            float: left;
            width: 80px;
            font-weight: bold;
          }
        }
      }
      .ord-list{
        padding:20px;
        width: 300px;
        float: left;
        dl{
          line-height: 35px;
          dt{
            float: left;
            width: 70px;
            font-weight: bold;
          }
        }
      }
    }
    .seller-information{
      border-bottom: 1px solid #e6e6e6;
      &:nth-of-type(odd){
         border: 0;
      }
      .seller-inform-base{
        padding:20px 0 5px 20px;
        h3{
          margin-bottom: 20px;
        }
        .seller-list{
           height: 80px;
           ul{
              li{
                 float: left;
                 width: 356px;
                line-height: 30px;
                text-align: center;
              }
           }
        }
      }
    }
  }
  /*shangpingshuxing*/
  .commodity-attribute{
     .com-list{
      width: 1100px;
      border: 1px solid #e6e6e6;

      .com-tit{
        height: 45px;
        line-height: 45px;
        background: #f5f5f5;
        ul{
           li{
              width: 122px;
              float: left;
              color: #656565;
              text-align: center;
             &:nth-of-type(1){
                width: 357px;
             }
           }
        }
      }
      .com-cont{
        height: 120px;
        >div{
           float: left;
           border-right: 1px solid #ddd;
        }
      .com-cont-main{
        width: 355px;
        height:63px;
        padding: 29px 0;
        ul{
           li{
              &.com-img{
                float: left;
                margin:0 8px 0 20px;
                width: 60px;
                height: 60px;
              }
             &.com-text{
               width: 245px;
               float: left;
               line-height: 25px;
               a{
                 color: #33b5ff;
               }
             }
           }
        }
      }
        .category{
           width: 122px;
           text-align:center;
           padding: 36px 0;
           p{
            line-height: 24px;
             text-align: center;
             color:#9d9d9d;
          }
        }
        .collecting{
         @extend .category;
           padding: 48px 0;
          p{
             color: #333;
          }
        }
        .return-all{
          @extend .category;
          padding: 36px 0;
        }
        .discount{
          @extend .category;
          padding: 25px 0;
          text-align: left;
          ul{
             li{
                list-style: disc;
                margin-left: 30px;
                line-height: 24px;
             }
          }
        }
        .unit-Price{
          @extend  .category;
          padding: 48px 0;
        }
        .red{
          @extend  .category;
          width: 120px;
          padding: 24px 0;
          border-right: 0;
        }
      }
    }

  }
  /*total*/
  .ord-total{
    margin: 20px 0 30px 0;
    text-align: right;
    font:{
      size: 12px;
    }
    color: #333;
    strong
    {
      color: #fb5e5e;
      font:{
        size: 18px;
      }
    }
  }
}
/*猜你喜欢*/
.order-recommend{
  clear:both;
  margin-top:30px;
  .recom-title{
    height:45px;
    line-height:45px;
    background:#f5f5f5;
    overflow:hidden;
    p{
      width:113px;
      float:left;
      font-size:16px;
      color:#30b5fa;
      font-weight:bold;
      border-bottom:1px solid #30b5fa;
      text-indent:25px;
    }
    a{
      float:right;
      color:#333;
      margin-right:20px;
    }
  }
  .recom-con{
    overflow:hidden;


    .recom-list{
      overflow:hidden;
      display:none;
      &.show{
        display:block;
      }
      li{
        padding:10px;
        width:200px;
        float:left;
        height:240px;
        img{
          width:160px;
          height:160px;
          margin:0 20px;
        }
        p{
          margin:10px;
          a{
            color:#333;
          }
          .recom-price{
            float:left;
            color:#ff0003;
            font-weight:bold;
          }
          .recom-appraise{
            float:right;
          }
        }
      }
    }
  }
  .recom-page{
    clear:both;
    width:200px;
    margin:20px auto;
    ul{
      li{
        margin:0 5px;
        float:left;
        height:20px;
        line-height:20px;
        a{
          display:inline-block;
          width:10px;
          height:10px;
          background:#b5b5b5;
          border-radius:5px;
          &.active{
            background:#30b5fa;
          }
        }
      }
    }
    button{
      margin-left:10px;
    }
  }
}