@font-face {
	font-family: "myfont";
	src: url('myfont.eot');
	src: url('myfont.eot?#iefix') format('eot'),
		url('myfont.woff2') format('woff2'),
		url('myfont.woff') format('woff'),
		url('myfont.ttf') format('truetype'),
		url('myfont.svg#myfont') format('svg');
}

.nd:before {
	font-family: "myfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.nd-bangong:before {
	content: "\E001";
}

.nd-chufang:before {
	content: "\E002";
}

.nd-dianzishu:before {
	content: "\E003";
}

.nd-family:before {
	content: "\E004";
}

.nd-geren:before {
	content: "\E005";
}

.nd-shenghuo:before {
	content: "\E006";
}

.nd-nanxie:before {
	content: "\E007";
}

.nd-nanzhuang:before {
	content: "\E008";
}

.nd-neiyi:before {
	content: "\E009";
}

.nd-nvxie:before {
	content: "\E00A";
}

.nd-nvzhuang:before {
	content: "\E00B";
}

.nd-xiangbao:before {
	content: "\E00C";
}

.nd-bag:before {
	content: "\E00D";
}

.nd-basketball:before {
	content: "\E00E";
}

.nd-computer:before {
	content: "\E00F";
}

.nd-index_family:before {
	content: "\E010";
}

.nd-iPhone:before {
	content: "\E011";
}

.nd-makeup:before {
	content: "\E012";
}

.nd-next page:before {
	content: "\E013";
}

.nd-next:before {
	content: "\E014";
}

.nd-shopping:before {
	content: "\E015";
}

.nd-body:before {
	content: "\E016";
}

.nd-face:before {
	content: "\E017";
}

.nd-hot:before {
	content: "\E018";
}

.nd-pinpai:before {
	content: "\E019";
}

.nd-xiangshui:before {
	content: "\E01A";
}

.nd-xifahufa:before {
	content: "\E01B";
}

.nd-shop+:before {
	content: "\E01C";
}

.nd-shop-:before {
	content: "\E01D";
}

.nd-shop:before {
	content: "\E01E";
}
