.bangong {
  width: 1000.636px;
  height: 1000.678px;
}

.chufang {
  width: 1000.636px;
  height: 1000.678px;
}

.dianzishu {
  width: 1000.636px;
  height: 1000.678px;
}

.family {
  width: 1000.636px;
  height: 1000.678px;
}

.geren {
  width: 1000.636px;
  height: 1000.678px;
}

.shenghuo {
  width: 1000.636px;
  height: 1000.678px;
}

.nanxie {
  width: 1000.636px;
  height: 1000.678px;
}

.nanzhuang {
  width: 1000.636px;
  height: 1000.678px;
}

.neiyi {
  width: 1000.636px;
  height: 1000.678px;
}

.nvxie {
  width: 1000.636px;
  height: 1000.678px;
}

.nvzhuang {
  width: 1000.636px;
  height: 1000.678px;
}

.xiangbao {
  width: 1000.636px;
  height: 1000.678px;
}

.bag {
  width: 1000.636px;
  height: 1000.678px;
}

.basketball {
  width: 1000.636px;
  height: 1000.678px;
}

.computer {
  width: 1000.636px;
  height: 1000.678px;
}

.index_family {
  width: 1000.636px;
  height: 1000.678px;
}

.iphone {
  width: 1000.636px;
  height: 1000.678px;
}

.makeup {
  width: 1000.636px;
  height: 1000.678px;
}

.next-page {
  width: 1000.636px;
  height: 1000.678px;
}

.next {
  width: 1000.636px;
  height: 1000.678px;
}

.shopping {
  width: 1000.636px;
  height: 1000.678px;
}

.shop {
  width: 1000.636px;
  height: 1000.678px;
}

.shop {
  width: 1000.636px;
  height: 1000.678px;
}

.shop {
  width: 1000.636px;
  height: 1000.678px;
}

.body {
  width: 1000.636px;
  height: 1000.678px;
}

.face {
  width: 1000.636px;
  height: 1000.678px;
}

.hot {
  width: 1000.636px;
  height: 1000.678px;
}

.pinpai {
  width: 1000.636px;
  height: 1000.678px;
}

.xiangshui {
  width: 1000.636px;
  height: 1000.678px;
}

.xifahufa {
  width: 1000.636px;
  height: 1000.678px;
}

.delete {
  width: 500px;
  height: 500px;
}

.order_back {
  width: 500px;
  height: 500px;
}

.order_like {
  width: 500px;
  height: 500px;
}

.order_money {
  width: 500px;
  height: 500px;
}

.order_xing {
  width: 500px;
  height: 500px;
}

.order_zhi {
  width: 500px;
  height: 500px;
}

