.card {
  width: 1000.636px;
  height: 1000.678px;
}

.dianpu {
  width: 1000.636px;
  height: 1000.678px;
}

.fangdajing {
  width: 1000.636px;
  height: 1000.678px;
}

.gouwuche {
  width: 500px;
  height: 500px;
}

.next {
  width: 1000.636px;
  height: 1000.678px;
}

.next02 {
  width: 1000.636px;
  height: 1000.678px;
}

.right {
  width: 1000.636px;
  height: 1000.678px;
}

.search {
  width: 200px;
  height: 200px;
}

.nanxie {
  width: 1000.636px;
  height: 1000.678px;
}

.nanzhuang {
  width: 1000.636px;
  height: 1000.678px;
}

.neiyi {
  width: 1000.636px;
  height: 1000.678px;
}

.nvxie {
  width: 1000.636px;
  height: 1000.678px;
}

.nvzhuang {
  width: 1000.636px;
  height: 1000.678px;
}

.xiangbao {
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.bangong {
  width: 1000.636px;
  height: 1000.678px;
}

.chufang {
  width: 1000.636px;
  height: 1000.678px;
}

.dianzishu {
  width: 1000.636px;
  height: 1000.678px;
}

.family {
  width: 1000.636px;
  height: 1000.678px;
}

.geren {
  width: 1000.636px;
  height: 1000.678px;
}

.shenghuo {
=======
.body {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.bag {
=======
.face {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.basketball {
=======
.hot {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.computer {
=======
.pinpai {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.index_family {
=======
.xiangshui {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.iphone {
=======
.xifahufa {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.makeup {
=======
.shop {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.next-page {
=======
.shop {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.next {
=======
.shop {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.shopping {
  width: 1000.636px;
  height: 1000.678px;
}

.body {
=======
.bag {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.face {
=======
.basketball {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.hot {
=======
.computer {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.pinpai {
=======
.index_family {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.xiangshui {
=======
.iphone {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.xifahufa {
=======
.makeup {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.shop {
=======
.next-page {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.shop {
=======
.next {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.shop {
=======
.shopping {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.being-library {
=======
.delete {
>>>>>>> upstream/master
  width: 500px;
  height: 500px;
}

<<<<<<< HEAD
.no-delivery {
=======
.order_back {
>>>>>>> upstream/master
  width: 500px;
  height: 500px;
}

<<<<<<< HEAD
.no-transport {
=======
.order_like {
>>>>>>> upstream/master
  width: 500px;
  height: 500px;
}

<<<<<<< HEAD
.no-transport2 {
=======
.order_money {
>>>>>>> upstream/master
  width: 500px;
  height: 500px;
}

<<<<<<< HEAD
.not-completed {
=======
.order_xing {
>>>>>>> upstream/master
  width: 500px;
  height: 500px;
}

<<<<<<< HEAD
.not-single {
=======
.order_zhi {
>>>>>>> upstream/master
  width: 500px;
  height: 500px;
}

