.bangong {
  width: 1000.636px;
  height: 1000.678px;
}

.chufang {
  width: 1000.636px;
  height: 1000.678px;
}

.dianzishu {
  width: 1000.636px;
  height: 1000.678px;
}

.family {
  width: 1000.636px;
  height: 1000.678px;
}

.geren {
  width: 1000.636px;
  height: 1000.678px;
}

.shenghuo {
  width: 1000.636px;
  height: 1000.678px;
}

.nanxie {
  width: 1000.636px;
  height: 1000.678px;
}

.nanzhuang {
  width: 1000.636px;
  height: 1000.678px;
}

.neiyi {
<<<<<<< HEAD
=======
  width: 1000.636px;
  height: 1000.678px;
}

.nvxie {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.nvxie {
=======
.nvzhuang {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.nvzhuang {
=======
.xiangbao {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.xiangbao {
=======
.bag {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.bag {
=======
.basketball {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.basketball {
=======
.computer {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.computer {
=======
.index_family {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.index_family {
=======
.iphone {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.iphone {
=======
.makeup {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.makeup {
=======
.next-page {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.next-page {
=======
.next {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.next {
=======
.shopping {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.shopping {
  width: 200px;
  height: 200px;
}

.body {
=======
.shop {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.face {
=======
.shop {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.hot {
=======
.shop {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.pinpai {
=======
.body {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.xiangshui {
=======
.face {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.xifahufa {
=======
.hot {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.shop {
=======
.pinpai {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.shop {
=======
.xiangshui {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

<<<<<<< HEAD
.shop {
=======
.xifahufa {
>>>>>>> upstream/master
  width: 1000.636px;
  height: 1000.678px;
}

