@import "../layout/variables", "../layout/mixin";
#news-head{
  background:#33b6ff;
  margin-bottom:30px;
  margin-top:0;
  .header-lg{
    width:210px;
    height:80px;
    .logo{
      margin:18px 0;
      background:url("/images/orders/logo.png") no-repeat;
    }
  }
  .myshop{
    float:left;
    color:#fff;
    width:80px;
    text-align:center;
    padding:15px 0;
    line-height:25px;
    a{
      color:#fff;
      display:inline-block;
      width:100%;
      height:17px;
      line-height:17px;
      border:1px solid #fff;
      border-radius:10px;

    }
  }
  .topnav{
    li{
      float:left;
      margin:0 40px;
      height:80px;
      line-height:80px;
      a{
        font-size:16px;
        color:#fff;
      }
    }
  }
  .search-wrap{
    margin:24px 0 0 85px;
    height:32px;
    input{
      width:144px;
      height:32px;
      padding:0;
      margin:0;
      border:0;
      text-indent:5px;
      font-size:12px;
    }
    button{
      width:56px;
      height:32px;
      background:#ededed;
      padding:0;
      color:#333;
      font-size:12px;

    }
  }
  .shopping-cart{
    width:140px;
    height:32px;
    margin:24px 0;
    line-height:32px;
    background:#f85e66;
    .my-cart{
      vertical-align:middle;
      color:#fff;
      .shopping_white{
        width:40px;
        height:40px;
        margin-top:-8px;
        margin-right:-5px;
      }
      .button_next{
        width:15px;
        height:15px;
      }
    }
  }
}
#news-sidebar{
  font-family:"Microsoft YaHei";
  float:left;
  h3{
    font-size:16px;
    color:#363636;
  }
  .menu{
    margin-left:16px;
    a{
      display:block;
      margin:12px 0;
      font-size:14px;
      &.active{
        color:#e13332;
      }
    }
  }

}

//系统消息
.news-system{
  float:left;
  margin:0 40px;
  width:900px;
  color:#666;
  .news-system-title{
    padding:0 30px;
    button{
      border:1px solid #ededed;
      margin:0 10px;
      background:#fff;
      color:#666;
    }
  }
  .news-system-con{
    margin:10px 0;
    li{
      height:33px;
      line-height:33px;
      padding:0 30px;
      border-bottom:1px solid #ededed;
      &.active{
        background:#ededed;
      }
      &.readed{
        span{
          color:#efefef;
        }

      }
      input{
        border:1px solid #ededed;
        background:#ededed;
        vertical-align:-2px;
      }
      span{
        color:#e43c3b;
      }
    }
  }
  .systempages{
    float:right;
    margin:30px 0;

    button{
      float:left;
      margin:0 3px;
      background:#fff;
      border:1px solid #ededed;
      outline:none;
      height:20px;
      line-height:20px;
      color:#999;
    }
    ul{
      float:left;
      li{
        float:left;
        a{
          display:inline-block;
          width:20px;
          height:20px;
          text-align:center;
          line-height:20px;
          color:#999;
          &.active{
            color:#e43c3b;
          }
        }
      }
    }
  }
}


//消息私信
.news-private{
  width:900px;
  float:left;
  border-bottom:1px solid #ededed;
  padding:30px;
  margin:0 30px;
  .privatemain{
    height:430px;

    .private-list{
      height:40px;
      padding:10px 0;
      border-bottom:1px solid #ededed;
      .pic{
        float:left;
        width:40px;
        height:40px;
        img{
          width:40px;
          border-radius:20px;
        }
      }
      .text{
        display:inline-block;
        float:left;
        margin:0 20px;
        h3{
          color:#333;
          font-family:"Microsoft YaHei";
          font-size:14px;
        }
        p{
          color:#999;
          font-family:"simsun";
        }
      }
      .time{
        float:right;
        height:40px;
        width:100px;
        text-align:center;
        p{
          color:#999;
        }
        .newmes{
          display:inline-block;
          width:30px;
          height:18px;
          background:#ff5e06;
          line-height:18px;
          color:#fff;
          border-radius:3px;
          margin:9px 0;
          font-family:"Microsoft YaHei";
        }
      }
    }
  }
  .newpages{
    width:350px;
    margin:20px auto;
    button{
      float:left;
      margin:0 3px;
      background:#fff;
      border:1px solid #ededed;
      outline:none;
      height:20px;
      line-height:20px;
      color:#999;
    }
    ul{
      float:left;
      li{
        float:left;
        a{
          display:inline-block;
          width:20px;
          height:20px;
          text-align:center;
          line-height:20px;
          &.active{
            color:#e43c3b;
          }
        }
      }
    }
  }
}
.news-list-con{
  width:900px;
  float:left;
  font-family:"Microsoft YaHei";
  margin:0 50px;
  display:none;
  .news-list-title{
    height:40px;
    width:100%;
    line-height:40px;
    border-bottom:1px solid #ededed;
    background:#f5f5f5;
    text-align:center;
    padding:0 30px;
    h4{
      font-size:18px;
      color:#333;
    }
    a{
      float:left;
      font-size:18px;
    }
  }
  .news-list-main{
    height:500px;
    width:900px;
    padding:30px;
    overflow-y:auto;
    .buyer{
      margin-bottom:20px;
      overflow:hidden;
      .pic{
        width:40px;
        height:40px;
        float:left;
        img{
          width:40px;
          border-radius:20px;
        }
      }
      .text{
        float:left;
        padding:10px;
        font-size:14px;
        margin:0 20px;
        background:#ddd;
        border-radius:20px;
        max-width:750px;
      }
    }
    .seller{
      margin-bottom:20px;
      overflow:hidden;
      .pic{
        width:40px;
        height:40px;
        float:right;
        img{
          width:40px;
          border-radius:20px;
        }
      }
      .text{
        float:right;
        padding:10px;
        font-size:14px;
        margin:0 20px;
        background:#59d2ff;
        border-radius:20px;
        max-width:750px;
      }
    }
  }
  .news-list-input{
    background:#ffb027;
    width:900px;
    height:30px;
    padding:10px 30px;
    input{
      width:780px;
      height:30px;
      text-indent:10px;
    }
    a{
      width:100px;
      height:30px;
      text-align:center;
      line-height:30px;
      color:#fff;
      background:#fe6927;
      border-radius:3px;
      display:inline-block;
      margin-left:9px;
    }
  }
}

//消息设置
.news-setting{
  width:900px;
  padding:20px 30px;
  border-bottom:1px solid #ededed;
  float:left;
  margin-left:30px;
  color:#666;
  h3{
    font-size:12px;
  }
  .select{
    margin:20px 10px 40px;
    input{
      vertical-align:-2px;
      margin-left:16px;
      outline:none;
    }
    p{
      margin:10px 0;
    }
  }
  button{
    width:70px;
    height:30px;
    background:linear-gradient(#4ecd48,#2fb727);
    border:none;
    color:#fff;
    border-radius:5px;
    margin-bottom:50px;
  }
}