@font-face {
	font-family: "myfont";
	src: url('myfont.eot');
	src: url('myfont.eot?#iefix') format('eot'),
		url('myfont.woff2') format('woff2'),
		url('myfont.woff') format('woff'),
		url('myfont.ttf') format('truetype'),
		url('myfont.svg#myfont') format('svg');
}

.mf:before {
	font-family: "myfont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.mf-search:before {
	content: "\E001";
}
