@import "../layout/variables", "../layout/mixin";
#user-head{
  background:#33b6ff;
  margin-bottom:0;
  margin-top:0;
  .header-lg{
    width:210px;
    height:80px;
    .logo{
      margin:18px 0;
      background:url("/images/orders/logo.png") no-repeat;
    }
  }
  .myshop{
    float:left;
    color:#fff;
    width:80px;
    text-align:center;
    padding:15px 0;
    line-height:25px;
    a{
      color:#fff;
      display:inline-block;
      width:100%;
      height:17px;
      line-height:17px;
      border:1px solid #fff;
      border-radius:10px;

    }
  }
  .topnav{
    li{
      float:left;
      margin:0 40px;
      height:80px;
      line-height:80px;
      a{
        font-size:16px;
        color:#fff;
      }
    }
  }
  .search-wrap{
    margin:24px 0 0 85px;
    height:32px;
    input{
      width:144px;
      height:32px;
      padding:0;
      margin:0;
      border:0;
      text-indent:5px;
      font-size:12px;
    }
    button{
      width:56px;
      height:32px;
      background:#ededed;
      padding:0;
      color:#333;
      font-size:12px;

    }
  }
  .shopping-cart{
    width:140px;
    height:32px;
    margin:24px 0;
    line-height:32px;
    background:#f85e66;
    .my-cart{
      vertical-align:middle;
      color:#fff;
      .button_next{
        width:15px;
        height:15px;
      }
    }
  }
}
#user-sidebar{
  font-family:"Microsoft YaHei";
  float:left;
  h3{
    font-size:16px;
    color:#363636;
  }
  .menu{
    margin-left:16px;
    a{
      display:block;
      margin:12px 0;
      font-size:14px;
      &.active{
        color:#e13332;
      }
    }
  }

}
#content{
  padding:30px 0 60px 0;
  background:#fafafa;
  .bind-con{
    font-family:"Microsoft YaHei";
    width:967px;
    float:right;
    color:#666;
    box-shadow:0 1px 1px #ededed;
    padding-bottom:30px;
    background:#fff;
    h2{
      font-size:12px;
      margin-top:10px ;
    }
    .bind-list{
      line-height:24px;
      background:#f4f4f4;
      padding:10px 30px;
      margin:10px 0;
      overflow:hidden;
      >svg{
        width:25px;
        height:25px;
      }
      .unbind{
        color:#ffb20c;
      }
      .bingding{
        float:right;
        color:#fb5d5e;
      }
      .forbind{
        margin-bottom:10px;
        overflow:hidden;
        display:none;
        .list-left{
          margin-left:30px;
          float:left;
          p{
            color:#3ca953;
            font-size:18px;
            margin:20px 0;
          }
          a{
            display:inline-block;
            width:80px;
            height:25px;
            text-align:center;
            line-height:25px;
            background:linear-gradient(#deffd4,#b4f8a3);
            border:1px solid #abdba1;
            border-radius:3px;
          }
        }
        .list-right{
          width:363px;
          float:right;
          margin-top:20px;
          vertical-align:middle;
          border-left:1px solid #ededed;
          padding-left:27px;
          img{
            &.arrow{
              width:50px;
              height:30px;
              margin:0 10px 10px;

            }
          }
          svg{
            width:60px;
            height:60px;
            vertical-align:-8px;
          }
        }

      }
    }

  }
}

footer{
  .service{
    margin-top:0;
  }
}
