@import "../layout/variables", "../layout/mixin";
#user-head{
  background:#33b6ff;
  margin-bottom:0;
  margin-top:0;
  .header-lg{
    width:210px;
    height:80px;
    .logo{
      margin:18px 0;
      background:url("/images/orders/logo.png") no-repeat;
    }
  }
  .myshop{
    float:left;
    color:#fff;
    width:80px;
    text-align:center;
    padding:15px 0;
    line-height:25px;
    a{
      color:#fff;
      display:inline-block;
      width:100%;
      height:17px;
      line-height:17px;
      border:1px solid #fff;
      border-radius:10px;

    }
  }
  .topnav{
    li{
      float:left;
      margin:0 40px;
      height:80px;
      line-height:80px;
      a{
        font-size:16px;
        color:#fff;
      }
    }
  }
  .search-wrap{
    margin:24px 0 0 85px;
    height:32px;
    input{
      width:144px;
      height:32px;
      padding:0;
      margin:0;
      border:0;
      text-indent:5px;
      font-size:12px;
    }
    button{
      width:56px;
      height:32px;
      background:#ededed;
      padding:0;
      color:#333;
      font-size:12px;

    }
  }
  .shopping-cart{
    width:140px;
    height:32px;
    margin:24px 0;
    line-height:32px;
    background:#f85e66;
    .my-cart{
      vertical-align:middle;
      color:#fff;
      .button_next{
        width:15px;
        height:15px;
      }
    }
  }
}
#content{
  padding:30px 0 60px 0;
  background:#fafafa;
  #user-sidebar{
    font-family:"Microsoft YaHei";
    float:left;
    h3{
      font-size:16px;
      color:#363636;
    }
    .menu{
      margin-left:16px;
      a{
        display:block;
        margin:12px 0;
        font-size:14px;
        &.active{
          color:#e13332;
        }
      }
    }

  }
  .address-con{
    width:950px;
    float:right;
    color:#666;
    padding:0 20px 50px;
    border-bottom:1px solid #ededed;
    background:#fff;
    h2{
      font-size:12px;
    }
    .newaddress{
      margin:10px 0;
      a{
        width:110px;
        height:30px;
        text-align:center;
        line-height:30px;
        display:inline-block;
        border:1px solid #ededed;
        margin-right:10px;
        background:#f3f3f3;
      }
      span{
        color:#2e9fe3;
      }
    }
    .address-list{
      border:1px solid #ddd;
      padding:10px;
      position:relative;
      margin-bottom:20px;

      .list-title{
        margin:10px 0;
        height:18px;
        line-height:18px;
        strong{
          margin:0 5px 0 10px;
        }
        .default{
          text-align:center;
          width:60px;
          color:#fff;
          background:#fe8d13;
          margin-left:20px;
          display:none;
          &.show{
            display:inline-block;
          }
        }
      }
      .close{
        position:absolute;
        right:10px;
        top:10px;
        font-size:16px;
        font-weight:bold;
      }
      dl{
        overflow:hidden;
        line-height:16px;
        margin:10px 0;
        dt{
          float:left;
          width:80px;
          text-align:right;
          color:#999;
        }
        dd{
          float:left;
        }
      }
      .setting{
        text-align:right;
        a{
          color:#2798dc;
          margin-right:30px;
        }
        .set-default{
          display:none;
          &.show{
            display:inline-block;
          }
        }
      }

    }
  }
}
#modalbg{
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:#e1e1e1;
  opacity:0.5;
  z-index:1000;
  display:none;
}
#modal{
  width:600px;
  height:498px;
  background:#fff;
  position:fixed;
  top:50%;
  left:50%;
  margin:-250px 0 0 -300px;
  z-index:2000;
  color:#666;
  display:none;
  .modal-title{
    width:100%;
    height:30px;
    line-height:30px;
    text-indent:10px;
    background:linear-gradient(#fff,#efefef);
    .modal-close{
      float:right;
      font-size:16px;
      margin-right:23px;
      font-weight:bold;
    }
  }
  .modal-body{
    margin:20px 35px;
    dl{
      margin:15px 0;
      dt{
        i{
          color:#ff0e0e;
        }
        label{
          &.phone{
            margin-right:135px;
          }
        }
      }
      dd{
        color:#333;
        margin:10px 0;
        input[type="text"]{
          border:1px solid #ededed;
          height:25px;
          outline:none;
          text-indent:7px;
          &.w380{
            width:380px;
          }
        }
        select{
          border:1px solid #ededed;
        }
      }
    }
    .save{
      width:110px;
      height:30px;
      text-align:center;
      line-height:30px;
      border:1px solid #ededed;
      background:linear-gradient(#fff,#f2f2f2);
      outline:none;
    }
  }
}

footer{
  .service{
    margin-top:0;
  }
}