@import "../layout/variables", "../layout/mixin";
#coll-head{
  font-family:'Microsoft YaHei';
  .header-lg{
    width:210px;
  }
  .myshop{
    float:left;
    height:40px;
    width:80px;
    text-align:center;
    margin-right:40px;
    h2{
      font-size:16px;
      color:#666;
      margin:5px 0;
    }
    a{
      width:80px;
      height:18px;
      color:#33b5ff;
      border:1px solid #33b5ff;
      border-radius:10px;
      display:inline-block;
      line-height:18px;
    }
  }
  .topnav{
    li{
      float:left;
      margin:0 40px;
      height:40px;
      line-height:40px;
      a{
        font-size:16px;
        font-weight:bold;
      }
    }
  }
  .search-wrap{
    margin-left:40px;
    input{
      width:144px;
    }
  }
  .shopping-cart{
    margin:0;
  }
}

#coll-sidebar{
  font-family:'Microsoft YaHei';
  float:left;
  .menu{
    h3{
      font-size:16px;
      color:#333;
    }
    .submenu{
      padding-left:16px;
      a{
        display:block;
        margin:20px 0;
        font-size:14px;
      }
    }
  }
}
.coll-main{
  font-family:'Microsoft YaHei';
  float:right;
  width:1000px;
  color:#666;
  h3{
    font-size:14px;
    text-indent:30px;
  }
  .coll-filter{
    height:100px;
    border-top:1px solid #ededed;
    border-bottom:1px solid #ededed;
    padding:20px 0 10px;
    margin:10px 0;
    .coll-proshop{
      float:left;
      a{
        padding:0 8px 5px;
        margin-left:20px;
        color:#333;
        display:inline-block;

        &.active{
          color:#e23235;
          border-bottom:2px solid #e23235;
        }

      }
    }
    .search{
      float:right;
    }
    dl{
      height:40px;
      line-height:40px;
      margin:0 30px;
      clear:both;
     &.sortfil{
       border-bottom:1px solid #ededed;
     }
      dt{
        float:left;
        width:100px;
        span{
          color:#338fda;
        }
      }
      dd{
        float:left;
        a{
          color:#338fda;
          padding:0 10px;
          margin:0 10px;
          display:inline-block;
          height:23px;
          line-height:23px;
          &.active{
            background:#338fda;
            color:#fff;
            border-radius:2px;
          }
        }
      }
    }
  }
  .addpay{
    height:40px;
    line-height:40px;
    margin:20px 5px;
    li{
      float:left;
      margin:0 20px;
      input{
        vertical-align:-2px;
      }
    }
  }
  .coll-prolist{
    .prolist-con{
      width:208px;
      float:left;
      height:270px;
      padding:0 10px;
      margin:10px ;
      .prolist-pic{
        width:100%;
        text-align:center;
        img{
          width:130px;
          height:130px;
        }
      }
      .prolist-tit{
        width:200px;
        padding:10px 0px;
        text-align:center;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        input{
          vertical-align:-2px;
        }
        a{
          color:#328ed9;
        }
      }
      .prolist-price{
        color:#ff0003;
        margin:10px 0;
        font-weight:bold;;
      }
      .prolist-eva{
        height:20px;
        line-height:20px;
        span{
          color:#999;
          &:last-child{
            float:right;
          }
        }
      }
      .prolist-btn{
        height:16px;
        line-height:16px;
        margin:10px 0;
        a{
          display:inline-block;
          padding:5px;
          &.addcart{
            background:#fa3435;
            color:#fff;
          }
          &.attention{
            background:#ebebeb;
            float:right;
          }
        }
      }
    }
  }
}
.coll-page{
  clear:both;
  height:25px;
  line-height:25px;
  float:right;
  button{
    float:left;
    height:27px;
    line-height:21px;
    margin:0 10px;
  }
  p{
    float:left;
    margin:0 10px;
  }
  ul{
    float:left;
    li{
      float:left;

      a{
        display:inline-block;
        width:30px;
        text-align:center;
        border:1px solid #ddd;
        margin:0 5px;
        &.active{
          color:#fe3c3c;
          border:none;
        }
      }
    }
  }

  .jump-page{
    float:left;
    margin-left:5px;
  }
}
