html,body,div,p,span,i,ul,ol,li,table,input,img,a,figure,nav,header,footer,thead,tbody,tr,th,td,button{
  margin:0;
  padding:0;
  font-size:12px;
  font-family:"sans-serif";
}
ul li{
  list-style:none;
}
a{
  text-decoration:none;
}
input,img,button{
  border:none;
}
svg{
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
body{
  display:flex;
}
#leftsidebar{
  width:120px;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  background:#444;
  .title-pic{
    text-align:center;
    .sidebar-title{
      height:25px;
      background:url("/images/business/title.png");
      width:127px;
      line-height:25px;
      margin:10px 0 7px;
      color:#444;
      font-size:14px;
      font-weight:bold;
    }
    img{
      width:87px;
      height:87px;
      border-radius:50%;
    }
  }
  .nav{
    text-align:center;
    margin:15px 0;
    li{
      height:40px;
      font-family:"Microsoft Yahei";
      a{
        color:#fff;
        display:inline-block;
        width:100%;
        height:40px;
        text-align:center;
        line-height:40px;
        font-size:14px;
        font-family:"Microsoft Yahei";
        &.active{
          color:#33b5ff;
          background:#fff;
        }
      }
    }
  }
}
.subsidebar{
  width:120px;
  position:fixed;
  top:0;
  left:120px;
  bottom:0;
  text-align:center;
  box-shadow: 1px 0 5px #b5b5b5;
  overflow: hidden;
  ul{
    margin:40px 0;
    li{
      height:40px;
      font-family:"Microsoft Yahei";
      a{
        color:#333;
        display:inline-block;
        width:100%;
        height:40px;
        text-align:center;
        line-height:40px;
        font-size:14px;
        font-family:"Microsoft Yahei";
        &.active{
          color:#fff;
          background:#33b5ff;
        }
      }
    }
  }
}
#content{
  margin-left:240px;
  flex:1;
  .bread-crumbs{
    color:#888;
    background:#eee;
    height:30px;
    line-height:30px;
    font-family:'simsun';
    text-indent:30px;
    border-bottom:1px solid #cecece;
    flex: 1;
    a{
      color: #888;
      font-family:'simsun';
    }
  }
  nav{
    margin:20px 70px;
    overflow:hidden;
    flex: 1;
    ul{
      li{
        float:left;
        margin-right:40px;
        a{
          display:inline-block;
          width:120px;
          height:40px;
          text-align:center;
          line-height:40px;
          color:#444;
          font-size:14px;
          font-family:"Microsoft Yahei";
          &.active{
            color:#fff;
            background:#33b5ff;
            border-radius:20px;
          }
        }
      }
    }
  }
  .address-library{
    width: 92%;
    margin: 20px 62px 0;
    position: relative;
    .address-placard{
      width: 100%;
      height: 2em;
      line-height: 2em;
      background-color: #fff000;
      font: {
        color: #444;
        size: 12px;
      }
      .placard{
        display: inline-block;
        width: 16px;
        height: 13px;
        background: url("/images/business/placard.png") no-repeat;
        vertical-align: middle;
        margin: 0 10px;
      }
    }
    .address-table{
      width: 100%;
      border: 1px solid #ddd;
      margin: 13px 0 40px;
      text-align: center;
      font-weight: normal;
      border-collapse: separate;
      border-spacing: 0;
      color: #444;
      tr{
        th{
          height: 37px;
          background-color: #ededed;
          border-right:1px solid #ddd;
          color: #444;
          font: {
            size: 14px;
            weight: normal;
          }
          &:last-child{
            border-right:0;
          }
        }

        td{
          height: 40px;
          border-top:1px solid #ddd;
          border-right:1px solid #ddd;
          background-color: #fefefe;
          .radio{
            vertical-align: middle;
            margin-right: 5px;
          }
          &:last-child{
            border-right: 0;
          }
          .edit{
            color: #52a5eb;
          }
          .del{
            color: #d91314;
          }
        }
      }
    }
    .edit-address{
      position: absolute;
      right: 0;
      top: 20%;
      .triangle{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 24.5px 20px 24.5px;
        border-color: transparent transparent #fff transparent;
        position: absolute;
        right: 8%;
        top: -3%;
      }
      .address-edit{
        width: 738px;
        height: 525px;
        background-color: #fff;
        box-shadow:0 0 8px rgba(0,0,0,.3);
        padding-top: 20px;
        .add-text{
          color: #444;
          margin-bottom: 26px;
          strong{
            font-size: 14px;
            padding-right: 10px;
          }
        }
          li{
            margin: 20px;
            label{
              width: 70px;
              text-align: right;
              display: inline-block;
              span{
                color: #f00;
              }
            }
            .input-add{
              width: 15%;
              height: 20px;
              border: 1px solid #ddd;
            }
            .input-street{
              width: 36%;
              height: 40px;
              border: 1px solid #ddd;
              vertical-align: top;
            }
            .input-remark{
              width: 36%;
              height: 50px;
              border: 1px solid #ddd;
              vertical-align: top;
            }
            .add-btn{
              width: 110px;
              height: 30px;
              border: 1px solid #ddd;
              border-radius: 5px;
              display: block;
              background-color: #ededed;
              margin: {
                left: 78px;
              }
              cursor: pointer;
            }
          }

      }
    }
    .add-address{
      width: 100%;
      .add-text{
        color: #444;
        margin-bottom: 26px;
        strong{
          font-size: 14px;
          padding-right: 10px;
        }
      }
      .address-input{
        width: 100%;
        height: auto;
        margin: {
          left: 15px;
        }
        li{
          margin: 20px;
          label{
            width: 70px;
            text-align: right;
            display: inline-block;
            span{
              color: #f00;
            }
          }
          .input-add{
            width: 15%;
            height: 20px;
            border: 1px solid #ddd;
          }
          .input-street{
            width: 36%;
            height: 40px;
            border: 1px solid #ddd;
            vertical-align: top;
          }
          .input-remark{
            width: 36%;
            height: 50px;
            border: 1px solid #ddd;
            vertical-align: top;
          }
          .add-btn{
            width: 110px;
            height: 30px;
            border: 1px solid #ddd;
            border-radius: 5px;
            display: block;
            background-color: #ededed;
            margin: {
              left: 78px;
            }
            cursor: pointer;
          }
        }
      }
    }
  }
}