*{
  margin:0;
  padding:0;
  font-size:12px;
  font-family:"Microsoft Yahei";
}
html{
  height: 100%;
}
body{
  display:flex;
  flex-direction:column;
  width: 100%;
  height: 100%;
  justify-content: center;
}
ol,ul{
  list-style:none;
  li{
    list-style:none;
  }
}
a{
  text-decoration:none;
}
img{
  border:none;
}
svg{
  width: 18px;
  height: 18px;
  vertical-align: middle;
}


#leftsidebar{
  flex: 1;
  width:120px;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  background:#444;
  .title-pic{
    text-align:center;
    .sidebar-title{
      height:25px;
      background:url("/images/business/title.png");
      width:127px;
      line-height:25px;
      margin:10px 0 7px;
      color:#444;
      font-size:14px;
      font-weight:bold;
    }
    img{
      width:87px;
      height:87px;
      border-radius:50%;
    }
  }
  .nav{
    text-align:center;
    margin:15px 0;
    li{
      height:40px;
      a{
        color:#fff;
        display:inline-block;
        width:100%;
        height:40px;
        text-align:center;
        line-height:40px;
        font-size:14px;
        &.active{
          color:#33b5ff;
          background:#fff;
        }
      }
    }
  }
}
.wrapper{
  width: 100%;
  flex: 1;
  background-color: #ccf;
  margin-left: 120px;
}