html,body,div,p,span,i,ul,ol,li,table,input,img,a,figure,nav,header,footer,thead,tbody,tr,th,td{
  margin:0;
  padding:0;
  font-size:12px;
  font-family:"Microsoft Yahei";
}
ul li{
  list-style:none;
}
h1,h2,h3,h4,h5,h6{
  margin:0;
  padding: 0;
}
a{
  text-decoration:none;
}
input,img{
  border:none;
}
svg{
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
html{
  height: 100%;
}
body{
  display:flex;
  flex-direction: column;
  height: 100%;
}
#leftsidebar{
  width:120px;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  background:#444;
  .title-pic{
    text-align:center;
    .sidebar-title{
      height:25px;
      background:url("/images/business/title.png");
      width:127px;
      line-height:25px;
      margin:10px 0 7px;
      color:#444;
      font-size:14px;
      font-weight:bold;
    }
    img{
      width:87px;
      height:87px;
      border-radius:50%;
    }
  }
  .nav{
    text-align:center;
    margin:15px 0;
    li{
      height:40px;
      a{
        color:#fff;
        display:inline-block;
        width:100%;
        height:40px;
        text-align:center;
        line-height:40px;
        font-size:14px;
        &.active{
          color:#33b5ff;
          background:#fff;
        }
      }
    }
  }
}
.subsidebar{
  width:120px;
  position:fixed;
  top:0;
  left:120px;
  bottom:0;
  text-align:center;
  box-shadow: 1px 0 5px #b5b5b5;
  overflow: hidden;
  ul{
    margin:40px 0;
    li{
      height:40px;
      a{
        color:#333;
        display:inline-block;
        width:100%;
        height:40px;
        text-align:center;
        line-height:40px;
        font-size:14px;
        &.active{
          color:#fff;
          background:#33b5ff;
        }
      }
    }
  }
}
#content{
  margin-left:240px;
  //flex:1;
  flex: 1 0 auto;
  .bread-crumbs{
    color:#888;
    background:#eee;
    height:30px;
    line-height:30px;
    font-family:'simsun';
    text-indent:30px;
    border-bottom:1px solid #cecece;
    a{
      color: #888;
      font-family:'simsun';
    }
  }
  .overview-content{
    margin: 0 30px;
    .order-number{
      width: 100%;
      height: 11em;
      margin: 20px 0;
      background-color: #f8f8f8;
      overflow: hidden;
      li{
        padding: {
          left: 135px;
          top:50px;
          right: 80px;
        }
        text-align: center;
        float: left;
        &:last-child{
          padding: {
            left: 0;
            right: 0;
            top:65px;
          }
        }
        strong{
          font-size: 22px;
          display: block;
          color: #1eb6ff;
        }
        span{
          display: block;
          padding-top: 5px;
          color: #666;
        }
        a{
          width: 70px;
          height: 26px;
          background-color: #06b5e0;
          display: block;
          line-height: 26px;
          border-radius: 8px;
          color: #fff;
          box-shadow: 0 -10px 15px #0f8dd9 inset;
        }
      }
    }
    .order-chart{
      width: 100%;
      height: 325px;
      border: 1px solid #ddd;
      margin-bottom: 30px;
      overflow: hidden;
      .order-title{
        height: 40px;
        line-height: 40px;
        overflow: hidden;
        background-color: #f8f8f8;
        padding: 0 35px;
        h4{
          float: left;
        }
        .item{
          display: inline-block;
          float: right;
          color: #666;
          .what{
            width: 18px;
            height: 18px;
            display: inline-block;
            background: url(/images/business/what.png) no-repeat left center;
            vertical-align: middle;
            padding:{
              left: 10px;
            }
          }
        }
      }
      .order-trend{
        width: 10%;
        float: left;
        .trend-all{
          text-align: center;
          padding-top: 20px;
          color: #fff;
          height: 75px;
          strong{
            font-size: 20px;
            display: block;
            padding-bottom: 5px;
          }
        }
        .trend-first{
          background-color: #33b5ff;
          border-bottom:1px solid #e5e5ef;
        }
        .trend-second{
          background-color: #62c87f;
          border-bottom:1px solid #e5e5ef;
        }
        .trend-third{
          background-color: #fc8640;
        }
      }
      .trend-line{
        width: 90%;
        height: 285px;
        float: left;
        li{
          float: left;
          width: 141px;
          height: 285px;
          border-left:1px solid #ddd;
        }
      }
    }

  }
}
footer{
  width: 1000px;
  border-top:1px solid #ddd;
  margin-left: 520px;
  flex: 0;
  flex: none;
  text-align: center;
  .foot-link{
    margin: 20px 0;
    color: #ddd;
    a{
      color: #666;
      padding-right:2px;
    }

  }
  .auto-cation{
    margin-bottom: 20px;
    a{
      display: inline-block;
      margin-right: 10px;
    }
  }
}
