html,body,div,p,span,i,ul,ol,li,table,input,img,a,figure,nav,header,footer,thead,tbody,tr,th,td{
  margin:0;
  padding:0;
  font-size:12px;
  font-family:"Microsoft Yahei";
}
ul li{
  list-style:none;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
a{
  text-decoration:none;
}
i{
  font-style: normal;
}
input,img{
  border:none;
}
html{
  height: 100%;
}
body{
  display:flex;
  flex-direction: column;
  height: 100%;
}
svg{
  width: 16px;
  height: 18px;
  fill:#868686;
}
#leftsidebar{
  width:120px;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  background:#444;
  .title-pic{
    text-align:center;
    .sidebar-title{
      height:25px;
      background:url("/images/business/title.png") no-repeat;
      width:127px;
      line-height:25px;
      margin:10px 0 7px;
      color:#444;
      font-size:14px;
      font-weight:bold;
    }
    img{
      width:87px;
      height:87px;
      border-radius:50%;
    }
  }
  .nav{
    text-align:center;
    margin:15px 0;
    li{
      height:40px;
      a{
        color:#fff;
        display:inline-block;
        width:100%;
        height:40px;
        text-align:center;
        line-height:40px;
        font-size:14px;
        &.active{
          color:#33b5ff;
          background:#fff;
        }
      }
    }
  }
}
.subsidebar{
  width:120px;
  position:fixed;
  top:0;
  left:120px;
  bottom:0;
  text-align:center;
  box-shadow: 1px 0 5px #b5b5b5;
  overflow: hidden;
  ul{
    margin:40px 0;
    li{
      height:40px;
      a{
        color:#333;
        display:inline-block;
        width:100%;
        height:40px;
        text-align:center;
        line-height:40px;
        font-size:14px;
        &.active{
          color:#fff;
          background:#33b5ff;
        }
      }
    }
  }
}
#content{
  margin-left:240px;
  flex:1;
  nav{
    margin:{
      top: 40px;
      bottom: 20px;
      left: 60px;
      right: 35px;
    }
    overflow:hidden;
    ul{
      width: 100%;
      li{
        float:left;
        margin-right:40px;
        a{
          display:inline-block;
          width:120px;
          height:40px;
          text-align:center;
          line-height:40px;
          color:#444;
          font-size:14px;
          &.active{
            color:#fff;
            background:#33b5ff;
            border-radius:20px;
          }
        }
      }
    }
  }
  .search-all{
    margin: 0 35px 30px;
    height: auto;
    overflow: hidden;
    .search-commodity{
      height: auto;
      background-color: #f8f8f8;
      padding: 20px 0 10px;
      border: 1px solid #f2f2f2;
      li{
        width: 100%;
        height: auto;
        overflow: hidden;
        margin-bottom: 10px;
        .select-name{
          float: left;
          label{
            color: #555;
            padding-left: 56px;
            margin-right: 10px;
          }
          .selected{
            width: 188px;
            height: 26px;
            color: #555;
            border: 1px solid #d4d4d4;
          }
          .input{
            width: 188px;
            height: 26px;
            border: 1px solid #d4d4d4;
            margin-right: 5px;
          }
          a{
            display: inline-block;
            line-height: 22px;
            text-align: center;
            color: #35b5ff;
            margin-left: 5px;
            &.cur{
              width: 46px;
              height: 22px;
              border: 1px solid #ddd;
              border-radius: 3px;
            }
          }
          .order-select{
            width: 97px;
            height: 26px;
            margin: 0 10px;
            color: #555;
            border: 1px solid #d4d4d4;
          }
        }
        .filter{
          display: block;
          width: 90px;
          height:30px;
          line-height: 30px;
          text-align: center;
          background: url("/images/business/bg.png") no-repeat;
          color: #fff;
          font-size: 14px;
          margin:{
            top: 10px;
            left: 120px;
          }
        }
      }
    }
    .all-article{

      height: auto;
      overflow: hidden;
      margin-top: 20px;
      .all-order{
        width: 100%;
        height: 24px;
        border-bottom:1px solid #33b5ff;
        overflow: hidden;
        li{
          width: 106px;
          height: 24px;
          line-height: 22px;
          background-color: #f8f8f8;
          border: 1px solid #f2f2f2;
          border-radius: 5px 5px 0 0;
          text-align: center;
          float: left;
          margin-right: 2px;
          &:first-child{
            margin-left: 40px;
          }
          &.order-type{
            float: right;
            width: 115px;
            margin-right:20px;
            background: #fff;
            border: 0;
            i{
              display: inline-block;
              width: 19px;
              height: 18px;
              background: url("/images/business/item.png") no-repeat left center;
              vertical-align: middle;
              margin-right: 7px;
            }
          }
          a{
            color: #666;
          }
          &.current{
            background-color: #33b5ff;
            a{
              color: #fff;
            }
          }
        }
      }
      .content-select{
        width: 100%;
        .select-name{
          width: 100%;
          height: auto;
          overflow: hidden;
          .all-close{
            margin-top: 15px;
            color: #333;
            .checkbox{
              margin-left: 20px;
              vertical-align: middle;
            }
            .close{
              display: inline-block;
              width: 79px;
              height: 22px;
              border: 1px solid #ddd;
              color: #b2b2b2;
              line-height: 22px;
              text-align: center;
              border-radius: 3px;
              margin-left: 10px;
            }
          }
          .content-list{
            width: 100%;
            p{
              
              &.list-title{
                height: 32px;
                background-color: #f8f8f8;
                line-height: 32px;
                margin-top: 15px;
                border: 1px solid #f2f2f2;
                span{
                  display: inline-block;
                  &.name{
                    width: 26%;
                    padding-left: 5em;
                  }
                  &.prices{
                    width: 10%;
                  }
                  &.many{
                    width: 10%;
                  }
                  &.people{
                    width: 12%;
                  }
                  &.state{
                    width: 12%;
                  }
                  &.evaluate{
                    width: 16%;
                  }
                  &.operating{
                    width: 8%;
                  }
                }
              }
            }
          }
          .details{
            width: 100%;
            height: auto;
            overflow: hidden;
            .all-list{
              height: auto;
              border: 1px solid #bfbfbf;
              margin-top: 10px;
              .check-show{
                width: 100%;
                height: 45px;
                line-height: 45px;
                background-color: #f5f5f5;
                overflow: hidden;
                .check-name{
                  float: left;
                  margin: 0 20px;
                  .check-box{
                    vertical-align: middle;
                  }
                }
                .time{
                  margin-left: 20px;
                  float: left;
                }
                .dele-font{
                  width: 8%;
                  float: right;
                  margin: 15px 60px;
                }
              }
              .order-pic{
                width: 100%;
                height: auto;
                overflow: hidden;
                li{
                  float: left;
                  height: auto;
                  &.pic-text{
                    width: 25%;
                    overflow: hidden;
                    margin: {
                      top:15px;
                      left: 20px;
                      bottom: 15px;
                    }
                    .picture{
                      float: left;
                      width: 60px;
                      height: 60px;
                      margin-right: 10px;
                    }
                    .text-name{
                      float: left;
                      width: 262px;
                      height: auto;
                      line-height: 20px;
                      margin-top: 10px;
                      color: #333333;
                      word-wrap:break-word;
                      word-break:break-all;
                    }
                  }
                  &.order-money{
                    width: 10%;
                    text-align: center;
                    margin: 35px 0 0;
                    span{
                      display: inline-block;

                      color: #999;
                    }
                  }
                  &.order-many{
                    width: 10%;
                    text-align: center;
                    margin: 35px 0 0;
                    span{
                      display: inline-block;

                    }
                  }
                  &.order-user{
                    width: 12%;
                    text-align: center;
                    margin: 25px 0 0;
                    p{
                      color: #34b6ff;
                    }
                    .message-pic{
                      display: inline-block;
                      width: 63px;
                      height: 18px;
                      vertical-align: middle;
                    }
                  }
                  &.order-detail{
                    width: 12%;
                    text-align: center;
                    margin: 25px 0 0;
                    p{
                      color: #333;
                    }
                    a{
                      color:#35b5fe;
                      line-height: 20px;
                    }
                  }
                  &.order-assess{
                    width: 14%;
                    margin: 25px 0 0;
                    a{
                      display: block;
                      color: #333;
                      text-align: center;
                      line-height: 20px;
                      &.reviews{
                        width: 72px;
                        height: 26px;
                        border: 1px solid #ddd;
                        text-align: center;
                        line-height: 26px;
                        border-radius: 3px;
                        margin: 0 auto;
                      }
                      &.see-red{
                        color: red;
                      }
                      &.see-gray{
                        color: #999;
                      }
                    }
                  }
                  &.order-view{
                    width: 15%;
                    border-left: 1px solid #e5e5e5;
                    text-align: center;

                    a{
                      display: block;
                      margin: 0 auto;
                      &.see-logistics{
                        color: #333;
                        line-height: 20px;
                      }
                      &.receipt{
                        width: 74px;
                        height: 26px;
                        border: 1px solid #f00;
                        line-height: 26px;
                        text-align: center;
                        margin-top: 22px;
                        color: #f00;
                        border-radius: 3px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .page{
    float:right;
    margin-right:60px;
    a{
      display:inline-block;
      width:24px;
      height:24px;
      border:1px solid #d1d1d1;
      line-height:24px;
      text-align:center;
      color:#d1d1d1;
      &.home{
        float: left;
        width: 45px;
        margin-right: 5px;
      }
      &.last-page{
        float: left;
        width: 45px;
        margin-left: 5px;
      }
    }
    
    .last{
      float:left;

      i{
        display:inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 10px 5px 0;
        border-color: transparent #d2d1cf transparent transparent;
      }
    }
    .next{
      float:left;
      width:65px;
      i{
        display:inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 10px;
        border-color: transparent transparent transparent #d2d1cf;
      }
    }
    ul{
      float:left;
      margin:0 10px;
      li{
        float:left;
        margin:0 5px;
        a{
          &.active{
            background:#31b5fd;
            color:#fff;
          }
        }
      }
    }
  }
}
footer{
  margin-left: 520px;
  margin-top: 50px;
  flex: 0;
  flex: none;
  text-align: center;
  .foot-link{
    width: 80%;
    padding: 20px 0;
    color: #ddd;
    border-top:1px solid #ddd;

    a{
      color: #666;
      padding-right:2px;
    }

  }
  .auto-cation{
    width: 80%;
    margin-bottom: 20px;
    a{
      display: inline-block;
      margin-right: 10px;
    }
  }
}